# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\cardo\repos\TMC2020\TMCProjects\mooc-java-programming-ii\part09-Part09_01.ABC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
